# See https://git-scm.com/docs/gitattributes for more about git attribute files.


# Mark any vendored files as having been vendored.
arena/vendor/* linguist-vendored
arena/config/credentials/*.yml.enc diff=rails_credentials
arena/config/credentials.yml.enc diff=rails_credentials
